/* Miama Font  */
@import url("https://fonts.cdnfonts.com/css/miama");
/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* CSS Variable */
:root {
  --primary-color: rgb(230, 83, 60);
  --primary-background: rgb(0, 0, 0);
  --secendary-background: rgb(34, 34, 34);
  --description-color: rgba(255, 255, 255, 0.5);
}

/* Default CSS Styles */
.btn-main {
  padding: 16px 40px 16px 40px;
  background-color: var(--primary-color) !important;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 42px;
  border: none;
}
.btn-main-outline {
  padding: 16px 40px 16px 40px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 42px;
  border: 1px solid gray;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.section-header {
  width: 55%;
  margin: 0 auto;
}
.section-header h1 {
  font-size: 3.62rem;
  color: white;
}
.section-header p {
  margin-top: 10px;
  font-size: 1.12rem !important;
  color: var(--description-color);
  font-size: 0.87rem;
}
.hamp {
  display: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: var(--primary-background);
}
.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 39px;
}
main > section {
  margin-top: 80px;
}

/* Navbar Sections */
header {
  background-image: linear-gradient(
    179deg,
    rgb(17, 17, 17),
    rgb(119 119 119 / 7%) 100%
  );
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
}
nav .logo > h1 {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-style: italic;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.navbar > a {
  padding: 6px 25px;
}

/* Hero Sections */
.miama {
  font-family: miama;
  font-size: 6.87rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  /* background-color: aliceblue; */
}
.hero-content h1 {
  font-size: 5.87rem;
  color: white;
  line-height: 90px;
}
.hero-content p {
  color: var(--description-color);
}

.hero-image img {
  width: 100%;
  background-size: cover;
}
.video-tutorial {
  border-radius: 7px;
  width: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  color: white;
  position: absolute;

  left: 59%;
  top: 54%;
}
.workout-video {
  border-radius: 7px;
  width: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  color: white;
  position: absolute;
  left: 78%;
  top: 24%;
}
.circel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* Habbits section */
.habbits-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habbit {
  padding: 10px;
  width: 231px;
}
.habbit h2 {
  color: white;
}
.habbit p {
  color: var(--description-color);
}
.habbit img {
  width: 100%;
  border-radius: 50%;
}

/* Run an Extra Section */
.run-extra-section {
  border-radius: 18px;

  background: rgb(34, 34, 34);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extra-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.extra-content h1 {

  font-size: 4rem;

  color: white;
}
.extra-content p{
    color: var(--description-color);

}
.run-image {
  /* width: 50%; */
  text-align: end;
}
.run-image img {
  border-radius: 18px;

  width: 60%;
  text-align: end;
}
