/* Miama Font  */
@import url("https://fonts.cdnfonts.com/css/miama");
/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* CSS Variable */
:root {
  --primary-color: rgb(230, 83, 60);
  --primary-hover: rgba(255, 103, 80, 0.716);
  --primary-background: rgb(0, 0, 0);
  --secendary-background: rgb(34, 34, 34);
  --description-color: rgba(255, 255, 255, 0.5);
}

/* Default CSS Styles */
.btn-main {
  padding: 16px 40px 16px 40px;
  background-color: var(--primary-color) !important;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 42px;
  border: none;
  cursor: pointer;
}
.btn-main:hover {
  background-color: var(--primary-hover) !important;
  transition: all 0.2s ease-in;
}
.btn-main-outline {
  padding: 16px 40px 16px 40px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 42px;
  border: 1px solid gray;
  cursor: pointer;
}
.btn-main-outline:hover {
  background-color: rgba(128, 128, 128, 0.724) !important;
  transition: all 0.2s ease-in;
}
.container {
  width: 70%;
  /* margin-top: 200px; */

  margin: 60px auto;
}
.text-center {
  text-align: center;
}
.section-header {
  width: 55%;
  margin: 0 auto;
}
.section-header h1 {
  font-size: 3.62rem;
  color: white;
}
.section-header p {
  margin-top: 10px;
  font-size: 1.12rem !important;
  color: var(--description-color);
  font-size: 0.87rem;
}

.section-header-left {
  width: 60%;
}
.section-header-left h1 {
  font-size: 3.62rem;
  color: white;
}
.section-header-left p {
  margin-top: 10px;
  font-size: 1.12rem !important;
  color: var(--description-color);
  font-size: 0.87rem;
}

/* section-header-left-middle */
.section-header-left-middle {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 90px;
}
.section-header-left-middle h1 {
  font-size: 3.62rem;
  color: white;
}
.section-header-left-middle p {
  width: 80%;

  margin-top: 10px;
  font-size: 1.12rem !important;
  color: var(--description-color);
  font-size: 0.87rem;
}
.hamp {
  display: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: var(--primary-background);
}
.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 39px;
}

/* Navbar Sections */
header > .container {
  margin-top: 0px;
}
header {
  background-image: linear-gradient(
    181deg,
    rgb(17, 17, 17),
    rgb(119 119 119 / 0%) 50%
  );
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
}
nav .logo > h1 {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-style: italic;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid rgba(255, 255, 255, 0.059);
  border-radius: 39px;
}
.navbar > a {
  padding: 6px 25px;
}

/* Hero Sections */
.miama {
  font-family: miama;
  font-size: 6.87rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  /* background-color: aliceblue; */
}
.hero-content h1 {
  font-size: 5.87rem;
  color: white;
  line-height: 90px;
}
.hero-content p {
  color: var(--description-color);
}
.hero-image {
  position: relative;
}
.hero-image img {
  /* z-index: -1; */
  width: 100%;
  background-size: cover;
}
.video-tutorial {
  border-radius: 7px;
  z-index: 1;
  width: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  color: white;
  position: absolute;
  left: -26%;
  top: 74%;
}
.workout-video {
  border-radius: 7px;
  z-index: 1;
  width: 200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  color: white;
  position: absolute;
  left: 68%;
  top: 24%;
}
.circel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* Habbits section */
.habbits-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habbit {
  padding: 15px 10px;
  width: 231px;
  /* margin-bottom: ; */
}
.habbit h2 {
  color: white;
  margin-top: 7px;
}
.habbit p {
  color: var(--description-color);
}
.habbit img {
  width: 100%;
  border-radius: 50%;
}

/* Run an Extra Section */
.run-extra-section {
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extra-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.extra-content h1 {
  font-size: 4rem;

  color: white;
}
.extra-content p {
  color: var(--description-color);
}
.run-image {
  text-align: end;
}
.run-image img {
  border-radius: 18px;

  width: 60%;
  text-align: end;
}

/* Team section */
.our-team-section {
  padding: 20px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
  background: rgb(34, 34, 34);
  border-radius: 20px;
  margin-top: 30px;
}

.teamBox {
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 19px -16px 101px 0px #5148489c inset;
  border-radius: 20px;
}
.team1 {
  background-image: url(../images/trainer.jpg);
  min-height: 300px;
  min-width: 300px;
}

.team2 {
  background-image: url(../images/ctainer2.jpg);
  min-height: 300px;
  min-width: 300px;
}

.team3 {
  background-image: url(../images/ctainer3.jpg);
  min-height: 300px;
  min-width: 300px;
}

.team4 {
  background-image: url(../images/ctainer4.jpg);
  min-height: 300px;
  min-width: 300px;
}

.team5 {
  background-image: url(../images/ctainer5.jpg);
  min-height: 300px;
  min-width: 300px;
}

.team6 {
  background-image: url(../images/ctainer6.jpg);
  min-height: 300px;
  min-width: 300px;
}

.teamInfo {
  position: absolute;
  z-index: 100;
  top: 75%;
  left: 10%;
}
.teamInfo h1 {
  color: white;
  font-size: 1.6rem;
}
.teamInfo p {
  color: var(--description-color);
  font-size: 1.3rem;
}

/* Trainings and Exercises */
.training-container1 {
  display: grid;
  grid-template-columns: repeat(1, 25% 50% 25%);
  margin-top: 70px;
}
.training-container2 {
  display: grid;
  grid-template-columns: repeat(1, 45% 25% 30%);
}
.training-step {
  min-height: 250px;
}
.training-step img {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 3/2; */
}
.training-step {
  position: relative;

  background-position: center;
}

.step1 {
  background-image: url("./../images/exercise1.jpg");
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.step1 p {
  position: absolute;
  top: 75%;
  left: 15%;
  opacity: 0.9;
  color: white;
  font-family: Inter;
  font-weight: 500;
}
.step2 {
  background-image: url("./../images/exercise2.png");
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.step2 p {
  position: absolute;
  top: 15%;
  left: 5%;
  opacity: 0.9;

  font-family: Inter;
  font-weight: 500;

  color: white;
}
.step3 {
  background-image: url("./../images/exercise3.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.step3 p {
  width: 60%;
  position: absolute;
  opacity: 0.9;
  top: 70%;
  left: 5%;
  font-family: Inter;
  font-weight: 500;
  color: white;
}
.step4 {
  background-image: url("./../images/exercise4.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -2%;
}
.step4 p {
  width: 40%;
  position: absolute;
  opacity: 0.9;
  top: 15%;
  left: 65%;
  font-family: Inter;
  font-weight: 500;
  color: white;
}
.step5 {
  background-image: url("./../images/exercise5.jpg");
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.step5 p {
  width: 60%;
  position: absolute;
  opacity: 0.9;
  top: 70%;
  left: 5%;
  font-family: Inter;
  font-weight: 500;
  color: white;
}
.step6 {
  background-image: url("./../images/exercise6.jpg");
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
.step6 p {
  width: 60%;
  position: absolute;
  opacity: 0.9;
  top: 70%;
  left: 5%;
  font-family: Inter;
  font-weight: 500;
  color: white;
}
/* BMI Calculator Chart */
.bmi-section {
  background-color: var(--secendary-background);
  width: 100% !important;
  padding: 15px 0px;
}
.bmi-container {
  display: flex;
  justify-content: space-between;
}
.bmi-section table {
  margin-top: 40px;
  width: 100%;
}
.bmi-section table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.077);
  border-collapse: collapse;
  padding: 15px 20px;
}
.bmi-section th {
  color: rgba(255, 255, 255, 0.752);
  font-size: 1rem;
}
.bmi-section td {
  color: var(--description-color);
  font-size: 0.8rem;
}
.mini-header {
  font-family: Inter;
}
.mini-header h1 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.mini-header p {
  color: var(--description-color);
  /* width: %; */
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0px;
}
.form-group input,
.manu {
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgb(44, 44, 44);
  color: var(--description-color);
}
select {
  -webkit-appearance: none;
}

.flex-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
/* footer section */
footer > .container {
  margin-bottom: 1.5rem;
}
.footer-top {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 50% 25% 25%);
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.text-logo h1 {
  font-size: 3.5rem;
  font-style: italic;
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 15px;
}
.text-logo p {
  color: var(--description-color);
  line-height: 24px;
  width: 70%;
}
.contact-help1,
.contact-help2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contact-help1 h3,
.contact-help2 h3 {
  font-size: 1.7rem;
  /* text-align: end; */
}
.contact-help1 a,
.contact-help2 a {
  font-size: 1.2rem;
  color: var(--description-color);
  /* text-align: end; */
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin: 3rem 0 1.5em 0;
  padding: 0;
}
.footer-bottom {
  color: var(--description-color);
  text-align: center;
}
.display-none {
  display: none;
}
.review-container {
  display: flex;
  gap: 15px;
  margin: 30px 0px;
}
.review {
  color: white;
  background-image: linear-gradient(rgb(9, 34, 31),rgb(10, 13, 13));
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
}
.user {
  display: flex;
  gap: 10px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10%;
  /* margin: 10px 0px; */
}

.ratings {
  color: gold;
}

@media screen and (max-width: 576px) {
  /* Header section */
  .container {
    width: 90%;
  }
  .hero-section {
    margin-top: 40px;
  }
  .hero-container {
    flex-direction: column;
    gap: 10px;
  }

  .workout-video {
    width: 186px;
    padding: 9px;

    left: 46%;
    top: 38%;
  }

  .video-tutorial {
    border-radius: 7px;
    z-index: 1;
    width: 186px;
    padding: 9px;

    left: 3%;
    top: 79%;
  }
  .hero-content > div > button {
    margin-bottom: 10px;
  }
  .btn-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .btn-list > .btn-main,
  .btn-main-outline {
    padding: 15px 30px;
    font-size: 12px;
  }
  .hero-content {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 3.8rem;
    line-height: 60px;
  }
  .miama {
    font-size: 4.5rem;
    font-weight: 100;
  }
  nav .navbar {
    display: none;
  }
  .hamp {
    display: block;
    font-size: 1.7rem;
  }

  /* Habits section */
  .section-header {
    width: 100%;
  }
  .section-header h1 {
    font-size: 2rem;
  }
  .section-header > p {
    font-size: 1rem !important;
  }
  .habbits-container {
    flex-direction: column;
  }
  /* run-extra-section */
  .run-extra-section {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  .run-image {
    text-align: start;
  }
  .run-image img {
    width: 100%;
  }
  .extra-content h1 {
    font-size: 2.5rem;
  }

  .extra-content button {
    width: 100%;
  }

  .our-team-section {
    padding: 0;
  }
  .team-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .info {
    top: 74%;
    left: 11%;
  }
  .info h3 {
    font-size: 1.4rem;
  }
  .info p {
    font-size: 1rem;
  }

  .section-header-left {
    width: 100%;
  }
  .section-header-left h1 {
    font-size: 1.9rem;
    width: 80%;
  }

  .training-container1 {
    grid-template-columns: repeat(1, 50% 50%);
  }
  .step3 {
    display: none;
  }
  .step6 {
    display: none;
  }
  .step4 {
    background-position: 41%;
  }
  .step2 {
    background-position: 67%;
  }
  .circel {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  .training-container2 {
    grid-template-columns: repeat(1, 50% 50%);
  }
  .training-container2 p {
    width: 100%;
  }
  .step4 p {
    left: 36%;
  }
.review-container{
  flex-direction: column;
}
  .section-header-left-middle {
    width: 100%;
    margin: 20px 0px;
  }
  .section-header-left-middle h1 {
    font-size: 2.1rem;
  }
  .section-header-left-middle p {
    width: 100%;
  }

  .bmi-container {
    flex-direction: column;
    gap: 30px;
  }
  .bmi-section table {
    margin-top: 20px;
  }

  .mini-header h1 {
    font-size: 1.4rem;
  }
  .bmi-section > .container {
    margin-top: 15px;
  }

  .footer-top {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .form-group input,
  select {
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(44, 44, 44);

    color: var(--description-color);
  }
}

@media screen and (min-width: 576px) and (max-width: 850px) {
  /* Header section */
  .container {
    width: 90%;
  }
  .hero-section {
    margin-top: 40px;
  }
  .hero-container {
    /* flex-direction: column; */
    gap: 10px;
  }
  .item1 {
    flex: 1 1;
  }
  .workout-video {
    width: 186px;
    padding: 9px;
    left: 40%;
    top: 38%;
  }

  .video-tutorial {
    width: 186px;
    padding: 9px;

    left: 3%;
    top: 79%;
  }
  .hero-content > div > button {
    margin-bottom: 10px;
  }
  .btn-list {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .btn-list > .btn-main,
  .btn-main-outline {
    padding: 15px 30px;
    font-size: 12px;
  }
  .hero-content {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 3.8rem;
    line-height: 60px;
  }
  .miama {
    font-size: 4.5rem;
    font-weight: 100;
  }
  nav .navbar {
    display: none;
  }
  .hamp {
    display: block;
    font-size: 1.7rem;
  }

  /* Habits section */
  .section-header {
    width: 100%;
  }
  .section-header h1 {
    font-size: 2rem;
  }
  .section-header > p {
    font-size: 1rem !important;
    width: 75%;
    margin: 0 auto;
  }
  .habbits-container {
    flex-wrap: wrap;
    gap: 10px; /* Optional: adds spacing between items */
  }
  .habbit {
    flex: 1 1 calc(50% - 10px);
    text-align: center;
  }
  .habbit img {
    width: 50%;
  }
  .text-center {
    width: 75%;
    margin: 0 auto;
  }
  /* run-extra-section */
  .run-extra-section {
    /* flex-direction: column; */
    gap: 30px;
    padding: 30px;
  }
  .run-image {
    text-align: start;
  }
  .run-image img {
    width: 100%;
  }
  .extra-content h1 {
    font-size: 2.5rem;
  }

  .extra-content button {
    width: 100%;
  }

  .our-team-section {
    padding: 0;
  }
  .team-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .info {
    top: 74%;
    left: 11%;
  }
  .info h3 {
    font-size: 1.4rem;
  }
  .info p {
    font-size: 1rem;
  }

  .section-header-left {
    width: 100%;
  }
  .section-header-left h1 {
    font-size: 1.9rem;
    width: 80%;
  }

  .training-container1 {
    grid-template-columns: repeat(1, 50% 50%);
  }
  .step3 {
    display: none;
  }
  .step6 {
    display: none;
  }
  .step4 {
    background-position: 41%;
  }
  .step2 {
    background-position: 67%;
  }
  .circel {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
  .training-container2 {
    grid-template-columns: repeat(1, 50% 50%);
  }
  .training-container2 p {
    width: 100%;
  }
  .step4 p {
    left: 36%;
  }

  .section-header-left-middle {
    width: 100%;
    margin: 20px 0px;
  }
  .section-header-left-middle h1 {
    font-size: 2.1rem;
  }
  .section-header-left-middle p {
    width: 100%;
  }

  .bmi-container {
    /* flex-direction: column; */
    gap: 30px;
  }
  .bmi-section table {
    margin-top: 20px;
  }
  .review-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
  .mini-header h1 {
    font-size: 1.4rem;
  }
  .bmi-section > .container {
    margin-top: 15px;
  }

  .footer-top {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .form-group input,
  select {
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(44, 44, 44);

    color: var(--description-color);
  }
}
